
body{
    margin: 0px;
}

#Navbar {
    position: fixed;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    background-color: #4eabde;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}




.section1{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    background-image: url("img/3.jpg");
    background-repeat: no-repeat;
    text-shadow: 2px 2px white;
    text-indent: 30px ;
}


.section2{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffffff;
    background-image: url("img/4.jpg");
    text-shadow: 2px 2px white;
    text-indent: 30px ;
}

.imgBackground{
    position: absolute;
    right: 0;
    margin-right: 0px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);

}

#content{
    position: absolute;
    left: 50px;
    right:100px;
    font-family: "American Typewriter";
    font-size: 17px;
    font-weight: normal;
    line-height: 18px;
}